:root {
    --background-color-1: #161A41;
    --background-color-2: #163A41;

}
body {
    background-color: var(--background-color-1);
    color: white;
    font-family: monospace;
    font-size: 2em;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}
a.title {
    text-decoration: none;
}

a.title:hover {
    color: white;
}

p {
    font-size: 1.5em;
    margin-bottom: 0;
}
p.aboutme {
    font-size: 1.2em;
    margin-bottom: 0;
    color: #46d1e4;
}
footer {
    p {
    font-size: 0.9em;
    margin-bottom: 0;
    color: #F0CD5A;
    }

}

a {
    color: white;
}

a:hover {
    color: rgb(255, 174, 0);
}
p.blogstuff {
	text-align: center;
    font-size: 0.8em;
    margin-bottom: 0;
    br {
        line-height: 1.5em;
    }
}
div.bloglist {
    p {
        text-align:center;
        font-size: 1.0em;
        margin-bottom: 0;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: #70aa13;
    }

}
div.page-mysetup {
    text-align:left;
    align-items:left;
    p {
        text-align:left;
        font-size: 0.8em;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: #8713aa;
    }
    ul {
        text-align:left;
        align-items:left;
    }
    li {
        text-align:left;
        font-size: 0.8em;
    }
}
div.photolib {
    p {
        text-align:center;
        font-size: 0.8em;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: #8713aa;
    }
    img {
        width: 30%;
        height: 30%;
        margin: 0 auto 2rem;
        transition: filter 300ms;

    }
    img:hover {
        filter: drop-shadow(0 0 2em #4c4c4caa);
    }
    div.img {
        display: block;
    }
}
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #80f3e7;
    cursor: pointer;
    transition: border-color 300ms, color 300ms;
  }
  button:hover {
    border-color: #4c55fa;
    background-color: #64bab1;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .ccwork {
    display: inline-block;
    margin-left: 3px;
    vertical-align: text-bottom;
  }