:root {
    --bacckground-color-1: #161A41;
    --bacckground-color-2: #163A41;
    --background-color-1:#3f3e3e;

}
body {
    background-image: url();
    background-color: var(--background-color-1);
    color: white;
    font-family: monospace;
    font-size: 2em;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}
a.title {
    text-decoration: none;
}

a.title:hover {
    color: white;
}

p {
    font-size: 1.5em;
    margin-bottom: 0;
}
footer {
    p {
    font-size: 0.9em;
    margin-bottom: 0;
    color: #ffffff;
    }

}

a {
    color: white;
}

a:hover {
    color: rgb(255, 174, 0);
}
p.blogstuff {
	text-align: center;
    font-size: 0.8em;
    margin-bottom: 0;
    br {
        line-height: 1.5em;
    }
}
div.bloglist {
    p {
        text-align:center;
        font-size: 1.0em;
        margin-bottom: 0;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: #70aa13;
    }

}
div.photolib {
    p {
        text-align:center;
        font-size: 0.8em;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: #8713aa;
    }
    img {
        width: 30%;
        height: 30%;
        margin: 0 auto 2rem;
        transition: filter 300ms;

    }
    img:hover {
        filter: drop-shadow(0 0 2em #4c4c4caa);
    }
    div.img {
        display: block;
    }
}
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #80f3e7;
    cursor: pointer;
    transition: border-color 300ms, color 300ms;
  }
  button:hover {
    border-color: #4c55fa;
    background-color: #64bab1;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .ccwork {
    size: fff0.5em;
  }
  div.bio {
    button {
        background-color:#46d1e4;
        transition: 100ms;
        font-size: 0.8em;
        padding: 1em 3em;
        margin-bottom: 0;
        align-items: center;
        text-align: center;
        box-shadow: 0 14px 30px -5px rgba(0, 0, 0, .13);
        }
    button:hover {
        background-color:#39a3b1;
        border-color:#46d1e4;
    }
    .aboutme {
        font-size: 1.2em;
        margin-bottom: 0;
        color: #46d1e4;
    }
    br.mobile {
        display: none;
    }
    a {
        text-decoration: none;
    }

  }
  br.mobile {
    display:none;
  }
  br.loadingmobile {
    display: none;
  }

  .photoend {
    font-size: 0.8em;
    color:white;
    text-align: center;
}