<!doctype html>
<html>
    <head>
        <title>Download File - Howard's Website</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/mobile-style.css">
		<link href="/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <main>
        <h1><a class="title" href="/">Howard's Website</a></h1>
        <p>Downloading file...</p>
        <iframe id="my_iframe" style="display:none;"></iframe>
        <script src="/components/download/script.js"></script>
        <footer>
        <br>
        <br>
            <a href="/">Home</a>&nbsp;&nbsp;<a href="https://hpware.hwtw.cc">Hpware</a>
            <p>Served with custom infra!</p>
            <p>&copy; 2024 Howard Wu</p>
        </footer>
</html>
